.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 800;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    
}
body{
    background-color: black;
    cursor: pointer;
    scroll-behavior: smooth;
}
.NAVIGATION{
    color: white;
    text-align: center;
    display: ruby-base;
    margin: 1rem;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
}
#Navigation-Items{
    display: inline-block;
    background-color:black;
    padding: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
    border: 3rem;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(78, 52, 52);
    border-width: 1vh;
}
li{
    display: inline-block;
    background-color: black;
    color:red;
    letter-spacing: 1vh;
}
li:hover{
color: azure;
background-color: black;
}
li:focus{
color: black;
background-color: azure;
}
#search:hover{
background-color: azure;
color: aquamarine;
}
#PLAYINGHEADING{
    color:red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: larger;
    font-style: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
    float: left;
    border: 1rem;
    border-radius: 1rem;
    border-width: 2px;
   border-style: outset;
    border-color: rgb(156, 80, 80);
    padding-right: 1rem;

}
.container-Cards{
    padding-right: 2rem;
    justify-content: flex-start;
    position: relative;
}
.imageone{
    padding-left: 3rem;
    height: 4rem;
    border: 4rem;
    border-radius: 6rem;
}
#PLAYINGHEADING:hover{
    color: black;
    background-color: white;
}
#btn1:focus{
color: red;
background-color: black;
}
#btn1:focus{
color: red;
background-color: black;
}
#btn2:focus{
color: red;
background-color: black;
}
#btn3:focus{
color: red;
background-color: black;
}
#btn4:focus{
color: red;
background-color: black;
}
#btn5:focus{
color: red;
background-color: black;
}
hr{
    background-color: rgb(161, 104, 104);
    color: rgb(161, 104, 104);
}
#headin3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 600;
}
#footER{
    text-align: center;
}
.countainer-search{
    border: 1px;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(44, 43, 43);
}
.EXPLORE{
    font-size: smaller;
}
#textarea{
    height: 10rem;
    max-width: 10rem;
    margin-left: 53rem;
    padding-right: 5rem;
    padding-left: 5rem;
    text-align:center;
    outline: none;
    background-color: rgb(184, 102, 102);
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
#Query:focus{
 color: red;
 background-color: black;

}
#line1{
    background-color: red;
    color: rgb(128, 76, 76);
}
#img1:hover{
    background-color: red;
    color: azure;
}
.Facebook{
    height: 4rem;
    width: 1rem;
    float: right; 
    margin-top: 1rem;
    margin-right: 20rem;
}
#Facebook:hover{
    color: rgb(4, 0, 255);
}
.facebook:hover{
    color: green;
}
@media (max-width:575.98px){
    body{
        flex-wrap: wrap;
        background-color: rgb(48, 42, 42);
    }
}